<section class="m-3">
    <div class="row my-5">
        <div class="col-lg-3"></div>
        <div class="col"><h2>Curriculum Vitae</h2> </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row my-3">
        <div class="col-lg-3"></div>
        <div class="col cv">
            <div class="cv-header">
                <div class="cv-user-name">
                    <div>John Doe</div>
                </div>
                <div class="cv-user-post">
                    <div>Project Manager</div>
                </div>
            </div>
            <div>
                <div class="col-3 p-2 cv-right">
                    <div class="cv-user-info"><i class="fa fa-mobile" style="font-size: 1.75em;"></i><span>+237 644 444 444</span></div>
                    <div class="cv-user-info"><i class="fa fa-envelope" style="font-size: 1.75em;"></i><span>johndoe@gmail.com</span></div>
                    <div class="cv-user-info"><i class="fa fa-home" style="font-size: 1.75em;"></i><span>Melen,Yaounde</span></div>
                    <div class="cv-user-info"><i class="fab fa-linkedin" style="font-size: 1.75em;"></i><span>linkedin.com/in/johndoe</span></div>
                    <div class="mt-2"><span class="cv-expertise" >Expertise</span></div>
                    <app-cv-expertise-item></app-cv-expertise-item>
                    <app-cv-expertise-item></app-cv-expertise-item>
                    <app-cv-expertise-item></app-cv-expertise-item>
                    <div class="mt-2"><span class="cv-expertise" >Education</span></div>
                </div>
                <div></div>
            </div>
            
        </div>
        <div class="col-lg-3"></div>  
    </div>
    
    
</section>