<nav class="nav nav-menu">
    <a class="navbar-brand">
        <img src='assets/images/logoEAA.jpeg' width="50" height="50" alt="Logo du site" />
        <span class="hidden-sm">ENSPY-Alumni</span>   
    </a>
    <div class="nav--right ">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><i class="fas fa-language"></i><span class="">English</span></a>
            <div class="dropdown-menu menu" >
              <a class="dropdown-item fromleft" href="#">Francais</a>
            </div>
      </div>
      <div>
        <form class="form-inline hidden-sm">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn searchBtn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
    
</nav>