/* You can add global styles to this file, and also import other style files */
$c-primary: rgb(5, 19, 67);
$paddingBtn : 0.5em;
$radiusBtn: 0.3em;
$radiusBtnLg: 0.5em;
/* Fonts */
.bg{
    &--primary{
        background-color: $c-primary;
    }
}


/* Buttons */
.btn{
    display: inline-block;
    text-align: center;
    transition: transform 200ms ease-in-out;
    &--primary{
        background: $c-primary;
        color: white;
        padding: $paddingBtn;
        border-radius: $radiusBtn;
        border: 1px solid $c-primary ;
        &.btn--lg{
            width: 15em;
            height: 5em;
            padding-top: 2em;
            border-radius: $radiusBtnLg;
        }
        &.btn--md{
            width: 10em;
            height: 3.5em;
            padding-top: 1em;
            border-radius: $radiusBtn;
        }
    }
    &--outline-primary{
        border-radius: $radiusBtn;
        background: transparent;
        color: $c-primary;
        padding: $paddingBtn;
        border: 2px solid $c-primary ;
        &.btn--disabled{
            border: 2px solid grey;
            &:hover{
                border: 2px solid grey;
                background: grey;
                color: $c-primary;
            }
        }
        &:hover{
            background-color: $c-primary;
            color: white;
            transform: perspective(75px) translateZ(10px);
        }
        &.btn--lg{
            width: 15em;
            height: 5em;
            padding-top: 2em;
            border-radius: $radiusBtnLg;
        }
        &.btn--md{
            width: 10em;
            height: 3.5em;
            padding-top: 1em;
            border-radius: $radiusBtn;
        }
    }
    &--disabled{
        background: grey;
    }

}
body{
    font-family: 'calibri','trebuchet ms', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}